.App {
  text-align: center;
  background-size: cover;
  background-position: center;
  /* animation: glow-animation 2s infinite alternate; */
  padding: 20px;
}

body {
  background-image: url('./Black-panther.png');
  background-color: #040404;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  color: rgb(200, 76, 241);
  padding-top: 300px;
}

.container {
  box-shadow: 0 0 20px rgba(255, 29, 29, 0.7);
  padding: 30px;

  animation: glow-animation 2s infinite alternate;
  max-width: 80%; /* Set container to be responsive */
  margin: 0 auto;
  color: white; /* Set text color to white */
  backdrop-filter: blur(4px);
  /* backdrop-filter: hue-rotate(45deg); */


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 400px;
  border-radius: 108px;
  overflow: hidden;
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}
